.status {
  display: block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.isOnline {
  composes: status;
  background-color: darkgreen;
}

.isOffline {
  composes: status;
  background-color: darkred;
}

.avatar {
  margin-left: 10px;
}

.name {
  font-weight: bold;
}
